SOAPService/WebContent/wsdl/AccountManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://etf.unibl.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://etf.unibl.org" xmlns:intf="http://etf.unibl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createUser">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="admin" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createUserResponse">
    <complexType>
     <sequence>
      <element name="createUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="unblockUser">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="unblockUserResponse">
    <complexType>
     <sequence>
      <element name="unblockUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="blockUser">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="blockUserResponse">
    <complexType>
     <sequence>
      <element name="blockUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUser">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUserResponse">
    <complexType>
     <sequence>
      <element name="deleteUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAddress">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAddressResponse">
    <complexType>
     <sequence>
      <element name="getAddressReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="blockUserResponse">

      <wsdl:part element="impl:blockUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserRequest">

      <wsdl:part element="impl:deleteUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unblockUserRequest">

      <wsdl:part element="impl:unblockUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAddressRequest">

      <wsdl:part element="impl:getAddress" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createUserResponse">

      <wsdl:part element="impl:createUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unblockUserResponse">

      <wsdl:part element="impl:unblockUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAddressResponse">

      <wsdl:part element="impl:getAddressResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createUserRequest">

      <wsdl:part element="impl:createUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserResponse">

      <wsdl:part element="impl:deleteUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="blockUserRequest">

      <wsdl:part element="impl:blockUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AccountManager">

      <wsdl:operation name="createUser">

         <wsdl:input message="impl:createUserRequest" name="createUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:createUserResponse" name="createUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unblockUser">

         <wsdl:input message="impl:unblockUserRequest" name="unblockUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:unblockUserResponse" name="unblockUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="blockUser">

         <wsdl:input message="impl:blockUserRequest" name="blockUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:blockUserResponse" name="blockUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdl:input message="impl:deleteUserRequest" name="deleteUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteUserResponse" name="deleteUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAddress">

         <wsdl:input message="impl:getAddressRequest" name="getAddressRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAddressResponse" name="getAddressResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AccountManagerSoapBinding" type="impl:AccountManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unblockUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unblockUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="unblockUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="blockUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="blockUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="blockUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAddressRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAddressResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AccountManagerService">

      <wsdl:port binding="impl:AccountManagerSoapBinding" name="AccountManager">

         <wsdlsoap:address location="http://localhost:8080/SOAPService/services/AccountManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
